body {
  background-color: rgb(233, 231, 231);
  margin: 0px;
}

header {
  background-color: white;
}

.logo {
  width: auto;
  height: auto;
  max-width: 50px;
}

.discover {
  max-height: 20px;
  width: 80%;
}

a {
  text-decoration: none;
  color: darkgray;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 1%;
  align-items: center;
  font-size: small;
}

button {
  background-color: tomato;
  color: white;
  height: 35px;
}

.subscribe {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 8%;
  padding-right: 1%;
  align-items: center;
  font-size: small;
}

.email {
  width: 30%;
}

p {
  color: darkgray;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 1%;
  background-color: rgb(233, 231, 231);
  width: 42%;
  height: 1000px;
  float: left;
  margin-top: 2%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  margin-left: 1%;
  background-color: red;
  width: 16%;
  height: 1000px;
  float: right;
  margin-top: 2%;
}

.popular {
  width: 100%;
  height: 42%;
  background-color: white;
  margin-bottom: 3%;
}

.today {
  width: 100%;
  height: 50%;
  background-color: white;
}

.week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  padding: 2%;
  color: black;
  border-bottom: 1px solid lightgray;
}

.close {
  height: auto;
  width: auto;
  max-height: 10px;
}

h2 {
  margin: 0px;
}

.bottomDuo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.likes {
  color: black;
  margin: 0px;
  height: auto;
  padding: 5px;
  min-height: 18px;
}

.comments {
  color: darkgray;
  margin: 0px;
  height: auto;
  padding: 5px;
}

.phone {
  color: black;
  background-color: lightgray;
  padding: 5px;
  margin-top: 0px;
}

.pSidePhone {
  color: darkgrey;
  padding: 5px;
  margin-top: 0px;
}

.testImg {
  height: auto;
  width: auto;
  max-width: 60px;
  max-height: 60px;
}

.duolingo {
  margin: 2%;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  justify-content: space-between;
}

.duoLeft {
  display: flex;
  flex-direction: row;
}

.duoRight {
  display: flex;
  flex-direction: row;
}

.description {
  margin-top: 0px;
}

.containerText {
  width: 80%;
}

.showMore {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: small;
  width: 50%;
  margin-left: 45%;
  margin-right: 45%;
}

.textShowMore {
  padding-left: 2%;
}

.rightLikes {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
  border-color: lightgrey;
  height: 50%;
  margin-right: 5%;
}

.rightComments {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
  border-color: lightgrey;
  height: 50%;
  margin-left: 5%;
}

.smallImg {
  height: auto;
  width: auto;
  max-width: 10px;
  max-height: 10px;
}

.rightToday {
  display: flex;
  flex-direction: row;
  margin-right: 4%;
}

.popular {
  color: black;
}

.newest {
  color: lightgrey;
  margin-right: 5%;
  padding-right: 5%;
  padding-left: 15%;
}

.slack {
  background-color: white;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
}

.kittyH2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-small;
  padding: 5%;
}

.pFeline {
  padding: 5%;
  margin: 0px;
}

.kittyButton {
  margin-left: 5%;
  margin-right: 5%;
}/*# sourceMappingURL=style.css.map */