div{
    width: 400px;
    height: 200px;
    padding: 50px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: red;
    border-top-style: dotted;
    border-top-width: thick;
    border-top-color: green;
    border-right-style: dashed;
    border-right-width: thick;
    border-right-color: blue;
    border-left-style: double;
    border-left-width: 15px;
    border-left-color: black;
}