@media (min-width: 320px)
{
    .orange{
        width: 95%;
        height: 50px;
        background-color: orange;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    
    .orangeContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .yellow{
        width: 95%;
        height: 100px;
        background-color: yellow;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    
    .yellowContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .blue{
        width: 95%;
        height: 150px;
        background-color: blue;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    
    .blueContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .gray{
        float: inline-end;
        width: 95%;
        height: 50px;
        background-color: gray;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    
    .grayContainer{
        
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

   
}
@media (min-width: 768px)
{
    .orange{
        width: 95%;
        height: 70px;
        background-color: orange;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    
    .orangeContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .yellow{
        width: 95%;
        height: 210px;
        background-color: yellow;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    
    .yellowContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .blue{
        width: 95%;
        height: 75px;
        background-color: blue;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    
    .blueContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .gray{
        float: right;
        width: 49%;
        height: 150px;
        background-color: gray;
        margin-right: 0.5%;
        margin-left: 0.5%;
        margin-top: 1%;
    }
    
    .grayContainer{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
}
@media (min-width: 1024px)
{
    .orange{

        float: right;
        width: 48%;
        height: 50px;
        background-color: orange;
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 10px;
    }
    
    .orangeContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .yellow{
        float:right;
        width: 98%;
        height: 280px;
        background-color: yellow;
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 10px;
    }
    
    .yellowContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .blue{  
        float:inline-end;
        width: 31.33%;
        height: 200px;
        background-color: blue;
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 10px;
    }
    
    .blueContainer{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .gray{
        float: inline-end;
        width: 23%;
        height: 160px;
        background-color: gray;
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 10px;
    }
    
    .grayContainer{
        
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}



