html, body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.greenBox {
    display: flex;
    background-color: greenyellow;
    flex-direction: column;
    width: 50%;
    height: 50%;
    float: left;
}

.yellowBox {
    display: flex;
    background-color: yellow;
    flex-direction: column;
    align-items:flex-end;
    width: 50%;
    height: 50%;
    float: right;
}

.blueBox {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    align-items:flex-end;
    width: 50%;
    height: 50%;
    
    float: right;
}

.redBox {
    display: flex;
    background-color: red;
    flex-direction: column;
    width: 50%;
    height: 50%;
    float: left;
}
.centerTama{
  display: flex;
   position: absolute;
   flex-direction: column;
   align-items: center;
   top: 25%;
   left: 25%;
   width: 50%;
   height: 50%;
}

.eatBar {
    width: 80%;
    background-color: black;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 3%;
    height: 4%;
    overflow: hidden;
    margin-left: 1%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .eatFill {
    background-color: green;
    height: 100%;
    width: 0%; /* Empieza con 0% */
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
  }

  .playBar {
    width: 80%;
    background-color: black;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 3%;
    height: 4%;
    overflow: hidden;
    margin-right: 1%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .playFill {
    background-color: green;
    height: 100%;
    width: 0%; /* porcentaje llenar */
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
  }

  .fightBar {
    width: 80%;
    background-color: black;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 3%;
    height: 4%;
    overflow: hidden;
    margin-left: 1%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .fightFill {
    background-color: green;
    height: 100%;
    width: 0%; /* porcentaje llenar */
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
  }

  .sleepBar {
    width: 80%;
    background-color: black;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 3%;
    height: 4%;
    overflow: hidden;
    margin-right: 1%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .sleepFill {
    background-color: green;
    height: 100%;
    width: 0%; /* porcentaje llenar */
    border-radius: 25px;
    
    transition: width 0.5s ease-in-out;
  }

  .happinessBar {
    width: 60%;
    background-color: black;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 3%;
    height: 4%;
    overflow: hidden;
    margin-right: 1%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .happinessFill {
    background-color: green;
    height: 100%;
    width: 0%; /* porcentaje llenar */
    border-radius: 25px;
    
    transition: width 0.5s ease-in-out;
  }

  button{
    border-radius: 50%;
    height: 50px;
    width: 50px;

  }

  .yellowButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }

  .redButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }

  .blueButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }

  .greenButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    }

    .greenPercent
    {
      margin-left: 3%;
      
    }

    .redPercent{
      margin-left: 3%;
    }

    .yellowPercent{
      margin-right: 73%;
    }

    .bluePercent{
      margin-right: 73%;
    }

    .titlePlay{
      margin-right: 25%;
      margin-top: 20%;
    }
    .titleSleep{
      margin-right: 25%;
      margin-top: 20%;
      margin-bottom: 15%;
    }
    .titleEat{
      margin-left: 25%;
      margin-top: 20%;
    }
    .titleFight{
      margin-left: 25%;
      margin-top: 20%;
      margin-bottom: 15%;
    }

    .Tama{
      width: 30%;
      height: auto;
    }

    